# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Package control specific files
Package Control.ca-list
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
bh_unicode_properties.cache
oscrypto-ca-bundle.crt

# Package-specific local-only files
GitHub.sublime-settings
GoSublime/
GoSublime-aux.sublime-settings
