[user]
	useConfigOnly = true

[core]
	excludesfile = ~/.gitignore
	pager = less -FRX

[protocol]
	version = 2

[alias]
	amend = commit --amend
	changes = !git diff --name-only $(git merge-base HEAD \"${DIFF_BASE:-master}\")
	co = checkout
	conflicts = diff --name-only --diff-filter=U
	deletes = log --diff-filter=D --summary
	diff-staged = diff --cached
	edit = "!f() { $EDITOR `git files $*`; }; f"
	files = "!f() { git ls-files --exclude-standard ${*--m} | sort -u | tr \"\\n\" \" \"; }; f"
	head = log -1 --decorate --name-status HEAD
	mine = !git log --no-merges --author=$(git config user.email)
	outgoing = log --pretty=oneline --abbrev-commit @{u}..
	remotes = for-each-ref --sort=-committerdate --format='%(color:yellow)%(authordate:short)\t%(align:50)%(color:reset)%(refname:short)%(end)\t%(color:green)%(authorname)' refs/remotes
	root = rev-parse --show-toplevel
	slog = log --pretty=format:'%C(yellow)%h %Creset%s %C(green)(%aN)%C(bold red)%d%Creset'
	stat = status -sb
	unstage = reset HEAD --
	uncommit = reset --soft HEAD^
	vimdiff = !vim -d -p $(git changes) +\"tabdo Gdiff ${DIFF_BASE:-master}\"

[branch]
	autosetuprebase = local

[branch "master"]
	mergeoptions = --ff-only

[pull]
	ff = only

[push]
	default = current

[blame]
	date = short

[diff]
	algorithm = patience
	compactionHeuristic = true

[merge]
	tool = fugitive
	conflictstyle = diff3

[grep]
	lineNumber = true

[commit]
	verbose = true

[fetch]
	prune = true

[stash]
	showPatch = true

[rerere]
	enabled = true

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	pager = true
	ui = true

[color "branch"]
	current = bold cyan
	local = cyan
	remote = green
	upstream = bold blue

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[mergetool]
	keepBackup = false

[mergetool "fugitive"]
	cmd = vim -f -c 'Git mergetool'
