[user]
	useConfigOnly = true

[core]
	excludesfile = ~/.gitignore
	pager = less -FRX

[alias]
	amend = commit --amend
	changes = log --pretty=format:'%C(yellow)%h %Creset%s %C(green)(%an, %cr)%Creset'
	co = checkout
	diff-staged = diff --cached
	edit = "!f() { $EDITOR `git files $*`; }; f"
	files = "!f() { git ls-files --exclude-standard ${*--m} | sort -u | tr \"\\n\" \" \"; }; f"
	head = log -1 --decorate --name-status HEAD
	mine = "!f() { git log --no-merges --author=$(git config user.email) $*; }; f"
	outgoing = log --pretty=oneline --abbrev-commit @{u}..
	stat = status -sb
	unstage = reset HEAD --
	uncommit = reset --soft HEAD^

[branch]
	autosetuprebase = local

[branch "master"]
	mergeoptions = --ff-only

[pull]
	ff = only

[push]
	default = current

[blame]
	date = short

[diff]
	algorithm = patience
	compactionHeuristic = true

[commit]
	verbose = true

[fetch]
	prune = true

[stash]
	showPatch = true

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	pager = true
	ui = true

[color "branch"]
	current = bold cyan
	local = cyan
	remote = green
	upstream = bold blue

[color "status"]
	added = yellow
	changed = green
	untracked = cyan
