[user]
	name = Jon Parise
	email = jon@indelible.org

[github]
	user = jparise

[core]
	editor = mvim -f
	pager = less -FRX

[alias]
	amend = commit --amend
	changes = log --pretty=format:'%C(yellow)%h %Creset%s %C(green)(%cr)%Creset'
	co = checkout
	diff-staged = diff --cached
	head = log -1 --decorate --name-status HEAD
	stat = status -sb
	unstage = reset HEAD --
	uncommit = reset --soft HEAD^

[branch]
	autosetuprebase = local

[branch "master"]
	mergeoptions = --ff-only

[push]
	default = upstream

[diff]
	algorithm = patience

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	pager = true
	ui = true

[color "branch"]
	current = cyan bold
	local = cyan
	remote = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan
