[user]
	name = Jon Parise
	email = jon@indelible.org

[github]
	user = jparise

[core]
    editor = mvim -f
	pager = less -FRX

[alias]
	amend = commit --amend
	changes = log --pretty=format:'%C(yellow)%h %Creset%s %C(green)(%cr)%Creset'
	co = checkout
	diff-staged = diff --cached
	graph = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%cr)%Creset'
	head = log -1 --decorate --name-status HEAD
	stat = status
	sync = !git pull && git submodule update --init --recursive
	unstage = reset HEAD --
	uncommit = reset --soft HEAD^

[branch]
	autosetuprebase = local

[branch "master"]
	mergeoptions = --ff-only

[push]
    default = upstream

[diff]
    tool = araxis

[merge]
    tool = araxis

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	pager = true
	ui = true

[color "branch"]
	current = cyan reverse
	local = cyan
	remote = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan
