packages: [
  "atom-elixir"
  "autocomplete-python-jedi"
  "base16-ocean-dark-spacegray"
  "build"
  "build-elixir"
  "busy"
  "busy-signal"
  "file-icons"
  "git-blame"
  "intentions"
  "language-bison"
  "language-elixir"
  "language-erlang"
  "language-graphql"
  "language-markdown"
  "language-thrift"
  "linter"
  "linter-flake8"
  "linter-ui-default"
  "package-sync"
]
